[2013-02-18 12:00] danfruehauf opened #1 "Password authentication"
Currently only ssh-agent authentication is available

[2013-02-18 12:01] danfruehauf opened #2 "Key authentication"
Let the user add a key for authentication (with or without a passphrase)

[2013-02-18 12:03] danfruehauf opened #3 "Known hosts authorization"
If the destination machine is not in your known_hosts file, things would fail.
Suggesting the following:
- When saving the dialog file, ask the user if he wants to authorized that host in known_hosts
- Have $HOME/.ssh/known_hosts passed to nm-ssh-service, rather than using the one at /root/.ssh/known_hosts

[2013-02-20 08:24] danfruehauf opened #4 "IPv6 support"
Add support for IPv6

[2013-02-20 08:25] danfruehauf opened #5 "TAP support"
Add support for TAP devices and let the user choose between tun and tap

[2013-02-20 08:41] danfruehauf opened #6 "OpenSUSE build support"
Add a target for building on OpenSUSE.

[2013-02-22 13:46] meiser79 opened #7 "possibility to specify username"
I need to specify a username other then "root". None of my systems uses the root account.

Could you please add the possibilty to enter a username in the GUI?

[2013-02-23 03:58] danfruehauf opened #8 "Translation"
Currently the translation is taken from the nm-openvpn plugin.
We have to:
- Remove the unused translation entries
- Translate new translation entries

[2013-02-23 09:19] #5 closed, assigned to danfruehauf

[2013-02-23 10:24] #7 closed, assigned to danfruehauf

[2013-02-24 13:31] #4 closed, assigned to nobody

[2013-03-01 03:55] danfruehauf opened #9 "Import support"
Add a feature to import exported configurations

[2013-03-01 03:56] #9 closed, assigned to nobody

[2013-03-06 07:43] danfruehauf opened #10 "Conditional IPv6 support"
Support IPv6 only if NetworkManager >= 0.9.6

[2013-03-07 03:14] #10 closed, assigned to nobody

[2013-05-17 20:20] ntavares opened #11 "Fedora 15 support"
Hi, first of all, great job in creating this plugin, I've been looking for it for some years now, kudos to you for having kicked it off!

I've successfully compiled NetworkManager-ssh in Fedora 15, but I can't get the option "SSH" in the VPN creation 1st dialog...

This is as far as I can get when I run /usr/libexec/nm-ssh-service --debug :

May 17 21:18:09 localhost NetworkManager[1113]: <info> V

[2013-06-26 13:29] #1 closed, assigned to nobody

[2013-06-26 13:29] #2 closed, assigned to nobody

[2013-06-26 13:30] danfruehauf opened #13 "Support entering pass phrase if key authentication chosen"
Self explanatory. Currently only keys without pass phrases are supported.

[2013-06-28 15:01] #8 closed, assigned to nobody

[2013-06-28 15:02] #11 closed, assigned to nobody

[2013-07-15 05:49] pythonian4000 opened #17 "Error in debian/changelog preventing .deb building"
Trying to build a .deb file on Xubuntu (after having divined out the required -dev packages that needed to be installed), I encountered the following during the `dpkg-buildpackage -B -nc` step of `make deb`:

`parsechangelog/debian: warning:     debian/changelog(l5): badly formatted trailer line
LINE:  -- Dan Fruehauf <malkodan@gmail.com>  Sat, Jul 06 2013 00:00:00 +1000
parsechangelog/debian: war

[2013-07-15 06:00] pythonian4000 opened #18 "Entry missing in POTFILES.in"
Trying to build a .deb package, I get notified that the file `auth-dialog/vpn-password-dialog.c` is missing from `po/POTFILES.in`; this creates the file `po/missing` containing this line, and the existence of the file subsequently causes the build to fail.

[2013-07-15 08:14] #17 closed, assigned to nobody

[2013-07-15 08:14] #18 closed, assigned to nobody

[2013-07-15 08:25] pythonian4000 opened #19 "Assumes /sbin/ifconfig when it doesn't exist"
With NetworkManager-ssh installed successfully, I am now trying to get it to function. Having re-enabled root login on my remote server (haven't worked out how to let another user create tun devices yet, and don't know what commands to limit root login to), I run the VPN. It appears to be successful (syslog shows no problems aside from `nm-dispatcher.action: Script '/etc/NetworkManager/dispatcher.

[2013-09-23 15:32] kobll opened #20 "Tabs not visible"
Hi,

after succesfully compiling and installing network-manager-ssh-gnome_0.9.1-0ubuntu2_amd64.deb and network-manager-ssh_0.9.1-0ubuntu2_amd64.deb, I've tried to add a VPN network. However, in the "Editing VPN Connection 1" dialog, I see only the "IPv4 Settings" tab. Compared to the screenshots, the "General" and "VPN" tabs are missing, and the "Save" button is always grey. Any suggestions? I can

[2013-10-01 09:15] #20 closed, assigned to nobody

[2013-10-07 19:52] nodiscc opened #21 "Support requesting SSH keys from gnome-keyring"
Are gnome-keyring queries supported?

My SSH key is password protected but gnome-keyring has an ssh-agent like that is able to store the key in memory after it's unlocked, and provide the key to applications that request it. I think this is the best way to handle keys (if my key is already unlocked, do not ask for the password once again)

Seahorse and gnome-keyring provide a centralized and secur

[2013-10-11 16:31] flickerfly opened #22 "Ubuntu 13.04 Install"
When building a .deb on Ubuntu 13.04, I get the following error. I installed build-essential and autoconf to be sure I had what was needed. How can I correct?

~/bin/NetworkManager-ssh$ autoreconf -fvi && ./configure && make deb
Can't exec "libtoolize": No such file or directory at /usr/bin/autoreconf line 195.
Use of uninitialized value in pattern match (m//) at /usr/bin/autoreconf line 195.
auto

[2013-11-04 01:22] #22 closed, assigned to nobody

[2013-11-15 11:10] jhagg opened #23 "Failed to build in Debian wheezy"
Debian wheezy has network-manager version 0.9.4.0, so
I tried whithout ipv6:

autoreconf -fvi && ./configure --without-ipv6 && make deb

configure:14365: error: NetworkManager >= 0.9.6 required for IPv6 support. Try with '--without-ipv6'

Then a long dump and finally:

dh_auto_configure: ./configure --build=x86_64-linux-gnu --prefix=/usr --includedir=${prefix}/include --mandir=${prefix}/share/man

[2014-01-26 11:53] #23 closed, assigned to nobody

[2014-01-26 11:58] danfruehauf opened #25 "Bad use of strcmp"
Should be using strncmp, avoiding future problems.

Bug opened in fedora:
https://bugzilla.redhat.com/show_bug.cgi?id=1056810

[2014-01-26 13:58] danfruehauf opened #27 "sshpass usage is insecure"
Currently using `-p` to pass the password which can be seen by running `ps`. Should be using a different mechanism.

[2014-01-26 14:26] danfruehauf opened #28 "User not passed if using saved password mode"
- Choose a saved password
- Make sure the remote host does not exist in your `~/.ssh/known_hosts`
- Connection fails as it tries to validate the hostname with `/root/.ssh/known_hosts`

[2014-02-08 02:59] #25 closed, assigned to nobody

[2014-04-12 03:05] #27 closed, assigned to nobody

[2014-04-18 12:13] apple314159 opened #31 "Does not compile: gnome keyring deprecated - use libsecret"
I just tried building on Archlinux and got errors compiling the auth-dialog directory.
All calls to gnome_keyring generate an error to use libsecret.

[2014-06-02 20:18] rubin110 opened #34 "Building under Debian Sid and KDE 4.11.8 fails"
Following directions from the readme...

[code]

[2014-06-03 23:45] #34 closed, assigned to nobody

[2014-06-03 23:47] rubin110 opened #37 "KDE Network Manager support"
Currently there's no integration into KDE's Qt variation of the Network Manager preferences. It would be a nice future feature to have that.

I'm going to test out and see if I can simply just pass NM a network profile for an SSH VPN connection and try it out.

[2014-12-17 12:23] pisto opened #38 "Nothing new sohws up the in the new connection menu"
I installed the fedora 20 package (NetworkManager-ssh), and I get just nothing new in the menu. I rebooted after installing just to be safe.

[2014-12-18 14:39] #38 closed, assigned to nobody

[2015-02-20 19:49] SilverWingedSeraph opened #39 "Fails to compile on Ubuntu due to bad private key"
dpkg-genchanges -B >../network-manager-ssh_0.9.3-0ubuntu2_amd64.changes
dpkg-genchanges: arch-specific upload - not including arch-independent packages
dpkg-genchanges: binary-only upload - not including any source code
 signfile network-manager-ssh_0.9.3-0ubuntu2_amd64.changes
gpg: skipped "Andrew Rowson <github@growse.com>": No secret key
gpg: [stdin]: clearsign failed: No secret key

 dpkg-sour

[2015-02-21 03:43] danfruehauf commented on #39
@SilverWingedSeraph It probably succeeded to compile, however it failed to upload the package to... wherever :)

Please see if you have a generated .deb file, if not, then it actually did fail to compile.

[2015-02-21 06:05] SilverWingedSeraph commented on #39
No .deb is generated, unfortunately.

[2015-02-21 07:42] danfruehauf commented on #39
.deb will be generated one directory above where you are, so at `/media/MainStorage/software/src/`. However it looks like it didn't build anything for some reason. The errors actually start at:
[code]

What version of Ubuntu are you on? I'll try to rebuild it on it.

[2015-02-21 14:24] SilverWingedSeraph commented on #39
I'm on 14.04.2. Thanks for the help, by the way!

On Fri, Feb 20, 2015 at 11:42 PM, Dan Fruehauf <notifications@github.com>
wrote:

[2015-02-22 08:20] danfruehauf commented on #39
No worries mate. I really feel bad when it doesn't compile/work for users. I'm not an Ubuntu user myself, so difficult for me to test and no one wanted to actively maintain it for Ubuntu. Anyway, try installing the following packages:
[code]

After doing that on a relatively bare Ubuntu 14.04 VM I managed to successfully build the debs (this is only the end of the snippet):
[code]

Please let me k

[2015-02-23 06:23] SilverWingedSeraph commented on #39
It worked after removing, autoremoving, and reinstalling all those
packages. Must have been something broken in my dependencies. Thanks!

On Sun, Feb 22, 2015 at 12:20 AM, Dan Fruehauf <notifications@github.com>
wrote:

[2015-02-23 06:32] danfruehauf commented on #39
@SilverWingedSeraph No worries mate! Glad it worked out. I'll close this issue for now. Feel free to reopen it if you have any runtime issues though.

[2015-02-23 06:32] #39 closed

[2015-03-10 10:56] vinnitu opened #40 "IT_PROG_INTLTOOL"
[code]

[2015-03-11 10:21] danfruehauf commented on #40
@vinnitu I might need more than that, which distribution are you running?

[2015-03-11 11:07] vinnitu commented on #40
ubuntu x64 14.04

[2015-03-11 21:17] danfruehauf commented on #40
You might require to install `intltool`:
[code]

[2015-03-12 08:59] vinnitu commented on #40
done, but result the same

[2015-03-14 12:55] ockham opened #41 "Support ssh -D (SOCKS proxy)"
I'm using a command like `ssh -Nf -D 8080 myusername@proxy.com` to set up a SOCKS proxy for tunneling; it'd be great if I could use NetworkManager-ssh to set up this type of connection.

[2015-03-15 05:00] danfruehauf commented on #41
@ockham Hey! Thanks for the feedback. You can virtually use any command line parameter with NetworkManager-ssh, however it will still open a tun or tap device with it. So you can use it for port binding for instance (I tested it) and it should also work as a SOCKS proxy. Give it a go and see how you go...

[2015-03-15 12:32] ockham commented on #41
I've now set the "Gateway" field to `proxy.com`, an in the "Advanced" dialog:
Extra SSH options: `-Nf -D 8080`
Remote username: `myusername`
But unfortunately, it fails to connect. I'm obviously not an SSH expert -- is it failing because I need to change the "Network Settings (Remote and local IP address, network mask)? I was hoping I don't have to change those as the `ssh` command doesn't require

[2015-03-15 12:34] ockham commented on #41
I've now noticed the "Authentication" dropdown and tentatively set it to "Key Authentication", choosing my key file, but still no luck connecting :-(

[2015-03-16 01:06] danfruehauf commented on #41
@ockham Try without `-Nf`, but just `-D 8080`.

And yes, you will have to specify a remote IP address etc, as I said, NetworkManager requires a full device to be opened up, so NetworkManager-ssh has to comply with that. You can leave the defaults as is. In addition, you have to make sure the remote user can open a tun/tap device. By default only `root` can do that.

Hopefully at some point, when N

[2015-06-14 01:10] riking commented on #40
I'm also getting a build failure.

[code]

[2015-06-14 01:42] danfruehauf commented on #40
@riking Are you on Ubuntu 14.04 x86_64 as well?

[2015-06-15 04:03] riking commented on #40
Indeed, that's why I posted in the same report.

[2015-06-15 23:27] danfruehauf commented on #40
@riking Let me get up my 14.04 vagrant box. I'm not using Ubuntu on a day to day basis unfortunately.

[2015-06-18 17:25] riking commented on #40
Oops - 15.04, misread.

[2015-06-20 10:11] danfruehauf commented on #40
15.04? I'll have to set something up with 15.04 then.

[2015-06-21 03:22] danfruehauf commented on #40
Alright, some minor adjustments are required, but I hope ot address them properly sooner than later.

There is a new branch `ubuntu_15_04` (https://github.com/danfruehauf/NetworkManager-ssh/tree/ubuntu_15_04). Try building from that.

[2015-06-24 16:37] riking commented on #40
Nope :(

[code]

[2015-07-12 11:58] danfruehauf commented on #31
@apple314159 I'm working on porting nm-ssh to use the new `libsecret` interface. Should be up soon.

[2015-07-12 12:14] #31 closed

[2015-07-13 13:24] danfruehauf commented on #40
master should build on Ubuntu 15.04 (tested with 6547de70b1d6f5cad4f2962c8813c96ee666f71c).

For Ubuntu 14.04 you can use tag 0.9.3.

P.S. Still looking for a maintainer.

[2015-07-13 13:24] #40 closed

[2015-11-11 16:22] BertHartm opened #49 "cannot find libnma-dev"
I'm attempting to build on ubuntu wily.
Apt can't seem to resolve libnma-dev , and all my googling for the effort seems to point to the readme here as being the only reference to it.
Any hints as to what it is? It's definitely required as the build won't progress without it (or intltool, which I'll submit a PR for once I get a successful build). It's probably part of another package, I probably ne

[2015-11-11 21:41] danfruehauf commented on #49
Thanks for the feedback. What's ubuntu wily? Is that the newest ubuntu?

Changes on master currently correspond to the newest NM that's out there.

I would recommend trying to build from https://github.com/danfruehauf/NetworkManager-ssh/commits/0.9.4

Either way, I'll try to get an Ubuntu wily VM running and see what happens.

[2015-11-11 22:18] BertHartm commented on #49
Yep, wily is ubuntu 15.10

0.9.4 worked, though I had to install libnm-gtk-dev and libsecret-1-dev in addition to the list currently in the readme. Would you prefer a PR that tells people how to build 0.9.4 for wily or wait until you get master working?

Thanks for the help, going to try using it.

[2015-11-12 07:53] danfruehauf commented on #49
Better update the doc, why not :)

[2015-11-13 15:54] BertHartm opened #50 "SSH not showing up in "connection type" dialog"
I'm on Ubuntu Wily (15.10).
I built 0.9.4 for ubuntu and installed both and installed both network-manager-ssh_0.9.4-0ubuntu_amd64.deb and network-manager-ssh-gnome_0.9.4-0ubuntu_amd64.deb

My /etc/dbus-1/system.d/org.freedesktop.NetworkManager.conf already had a line for <allow send_destination="org.freedesktop.NetworkManager.ssh"/> in <busconfig> for <policy user="root">. I added an entry in <po

[2015-11-14 03:51] danfruehauf commented on #50
So the configuration UI supports only the GTK/GNOME applet. I'm just verifying you're not on KDE or something?

The file that will be dynamically loaded and displayed in the UI should be at `/usr/lib/NetworkManager/libnm-ssh-properties.so`. This should be enough to give you the `SSH` option. While the system logs will not tell you if things are OK, I'd still look for errors, just in case.

I've ne

[2015-11-14 23:02] BertHartm commented on #50
Thanks, I completely understand that this is a volunteer effort for you and appreciate all the work you've put in to making this. I hope to contribute back in some form or another when I get it working.

I rebuilt and checked on another computer, and the .so file is generated and looks right. Restarting Network Manager generates:
NetworkManager[15125]: <info>  VPN: loaded org.freedesktop.NetworkMa

[2015-11-15 01:50] danfruehauf commented on #50
@BertHartm Thanks for that.

A couple more pointers, this means the ssh module was successfully loaded by nm, however it doesn't necessarily mean that you gonna see that in the applet. Please note that 2 packages are being created. One for the core nm integration and one for the gnome/gtk UI (this is standard for all nm plugins).

Try running also `nm-connection-editor`, which will force loading o

[2015-12-16 16:04] MatejKovacic opened #51 "Ubuntu PPA?"
Hi,

this is really great software. Are there any plans to include it into official NetworkManager plugins? Or at least to create Ubuntu PPA, for simplier installation and updating?

Regards,

M.

[2015-12-21 12:08] danfruehauf commented on #51
@MatejKovacic Good inquiry. Unfortunately I'm not using Ubuntu/debian at all. I provide complimentary debian/Ubuntu building help, but do not have the option to properly maintain it. I am the official maintainer of the Fedora package though (since I'm using Fedora). Would you like to be the one maintaining an Ubuntu PPA? I'm sure many people will thank you. I promise to help as much as possible.

[2016-03-03 11:31] lhw opened #52 "New release version?"
I saw that you bumped the version in the repo to 1.1.0  ad64a9f1 for the upcoming changes with libnm. But so far you haven't tagged any commit as new release on Github. Are there still some compatibility issues left with the plugin?

I'd like to upgrade the [debian package](https://packages.qa.debian.org/n/network-manager-ssh.html) in the near future. And it would be handy to use an upstream versi

[2016-03-03 12:40] danfruehauf commented on #52
@lhw Oh wow! There is a debian package for that!

I recently received some patches which include adaptations for the nm 1.2.0. I must say I haven't had the chance to test those patches, but I trust them since they came from @lkundrak who is a nm maintainer.

So I'm happy to tag master as 1.1.0 if that is what you're after. Will that be good?

I'm happy to do anything required so packaging is easie

[2016-03-03 13:28] lhw commented on #52
Basically yes, that's what I am after.

I will be doing some test builds with the libnm builds in debian unstable/sid (1.1.91) and if everything works I'd push 1.1.0 to unstable. But it will probably not be merged into Ubuntu for 16.04 so close to release.

[2016-03-03 21:56] danfruehauf commented on #52
That's fine. I was ever looking for someone to package it for debian/ubuntu. It's amazing.

So apart from tagging master as 1.1.0, what else can I do for you?

[2016-03-03 22:56] danfruehauf commented on #52
@lhw https://github.com/danfruehauf/NetworkManager-ssh/tree/1.1.0

:beers:

[2016-03-17 07:23] lhw commented on #52
Thanks for adding the new version. I already got it packaged. But I need to do some testing before I upload it to unstable. A bit busy right now.

Otherwise you already provided most of the files I needed for the package. I really only needed to change minor things from your debian/ directory. Actually I could just do a pull request for the changes and we could change the Vcs links to this reposit

[2016-03-17 17:37] lkundrak commented on #52
So, uhm; sorry for chiming in this late. I've aligned the versioning with NetworkManager where the odd releases mean "development" and even numbers are releases.

The master code now targets NetworkManager 1.2, and only builds and works works with a 1.2 snapshot. See ad64a9f12a062781582037a71f56365e4fdc659e for details.

Therefore, with NetworkManager 1.2 a version 1.2 should be released. 1.1.0 sh

[2016-03-17 19:46] lhw commented on #52
It's not uploaded yet. I can still tag it however its supposed to be
versioned. My current git tags are just for myself until I upload it to
unstable.
Current nm builds in debian unstable are 1.1.91 will this create an issue?

On 17.03.2016 18:37, Lubomir Rintel wrote:

[2016-03-17 21:40] danfruehauf commented on #52
I actually prefer those debian files to be out of this repository, keeping code only. I'll probably remove also the spec file. It was meant to be there only for convenience. Now that it is maintained in distributions, it's probably time to remove those things. What do you think @lhw @lkundrak?

[2016-03-17 21:42] danfruehauf commented on #52
@lkundrak I would generally like to align the version with upstream nm plugins - if that makes sense. As you realized, I'm all about making this project as much "mainstream" as possible. I know the ecosystem of the nm plugins is already quite diverse - the last thing I want to do is make it more difficult for anyone.

Or in short, please feel free to provide advice as to what you think should happ

[2016-03-18 06:55] lhw commented on #52
I don't really need them to be in the repository. The actual repository I am building from is maintained via the collab-maint git: http://anonscm.debian.org/cgit/collab-maint/network-manager-ssh.git
So if you don't want the debian/ dir repository that is fine. But I noticed that the debian/changelog unlike the /ChangeLog actually has some information until 0.9.3. You might want to move and keep th

[2016-03-23 10:05] danfruehauf commented on #52
I must say I got a bit lost with the versions of things. @lkundrak I'll try and catch you on IRC in the next few days for a quick chat if that's OK. I'll try to understand a bit better how to manage this project (and myself) :)

[2016-04-22 19:08] danjaredg opened #54 "not works in Ubuntu 16.04"
The plugin send this error:

** Message: vpn: (ssh,/etc/NetworkManager/VPN/nm-ssh-service.name) cannot load legacy-only plugin

[2016-04-23 14:08] danfruehauf commented on #54
@lhw is kindly packaging this for Ubuntu. Ideally that should be reported upstream.

Just now I merged #53 which may or may not fix that problem. Care to test it?

[2016-04-23 17:22] lkundrak commented on #54
Yeah; the nm 1.2 branch indeed adds a "non-legacy" plugin.

We just discovered one problem that has to do with the unfortunate timing of Ubuntu and NM releases; the snapshot that's present in Ubuntu 16.04 requires absolute paths to VPN plugins (which would likely make lintian unhappy). On Ubuntu 16.04 you need to configure the plugin with --enable-absolute-paths.

I'll try to get in touch with the

[2016-04-25 14:13] lhw commented on #54
I'm currently in the process of updating the package in debian so that it works with 1.2 as the version has now landed in unstable. But the ubuntu package is a bit of an issue. They froze the update just so that a nm-ssh depends on an older version of nm in the repo.
I'm gonna have a look if we can put up a fix for that or otherwise remove the version all together from 16.04. Sad for a LTS release

[2016-05-02 21:19] nalipaz opened #55 "Can't install on Debian Jessie"
Trying to install I get the following issues. I am using the latest release 1.2.0, let me know if it is better to use latest HEAD:

[code]
I then attempt to correct with:
[code]
That goes fine, so I proceed with the compile:
[code]
...
checking for uname... yes
./configure: line 12107: syntax error near unexpected token `0.35'
./configure: line 12107: `IT_PROG_INTLTOOL(0.35)'
[code]

[2016-05-04 10:03] danfruehauf commented on #55
I think best to use upstream packages for that. I should also update the README. Also, best to report bugs against the distro you're using.

@lhw Can you add more information please or point @nalipaz in the right direction? :+1:

[2016-05-04 10:35] lhw commented on #55
@nalipaz
That command will not work on stable (jessie). The 1.2.0 release requires libraries from
testing/unstable. It won't build with the packages in stable.
I'm currently waiting on the upload of the 1.2.0-1 package I created from the tagged release.
I'd say wait a few days and then install it from unstable or download the new package
right now with this command (still requires testing/unstable

[2016-05-04 12:17] lhw commented on #54
@danfruehauf Do you think it is possible to get 0.9.4 to work with the 1.2rc they froze in 16.04?
The absolute-path option is not yet available in the plugin version. I assume it's going to require a larger patch set to get
this to work unless there is a quick and dirty patch to ignore the changes.

If so I'll try to get the new debian release in. That one should build with 1.2rc1 in 16.04. If not

[2016-05-04 21:41] nalipaz commented on #55
@lhw generally mixing stable and upstream is discouraged, so I attempted to download the 0.9.4 binary from packages.debian.org. Unfortunately, installing with gdebi couldn't resolve dependencies it needed. libdbus-1-3 and libdbus-1-dev. I ended up stopping at that point.

Well, I hope to see it become available in jessie-backports or perhaps a method of compiling that might work under jessie.

[2016-05-05 00:59] eugenesan commented on #54
Hi all,

I am trying to use nm-ssh-1.2 (from https://mentors.debian.net/package/network-manager-ssh) Ubuntu 16.04.
It builds and installs without a problem but when connection is activated, NM informs about a connection error and nothing useful appears in syslog.
No actual connection is seen on the other end and nm-ssh-service is left running after the attempt.

I attempted to "pre-start" the plug

[2016-05-05 15:15] danfruehauf commented on #54
Not sure about that. I haven't been completely on top of things with the latest nm changes. @lkundrak has kindly contributed all the necessary patches for those.

[2016-05-05 15:16] danfruehauf commented on #54
@eugenesan See the debugging section - https://github.com/danfruehauf/NetworkManager-ssh#debugging

What you want to do is start it as you did, with `--debug`, then start a connection. If you started it as `root`, then it should spew the log to stdout/stderr over there. Let me know how you go...

[2016-05-05 15:18] danfruehauf commented on #55
@lhw It's actually likely that I'll remove the "debian/ubuntu support" from this repository, as it didn't update for a while and things have probably changed. Since there are also distro maintainers for it now (you :wink:) it is unnecessary.

[2016-05-05 15:19] danfruehauf commented on #55
I should look into that. Generally I'm happy to receive patches for that and push them to the correct branch. Unfortunately I'm not a debian user so it makes debugging on my end not that easy...

[2016-05-05 15:46] lhw commented on #55
@nalipaz I'm well aware of the franken debian problem. But it will take some time before somebody backports it to stable and I don't see the harm if you maintain a good apt preferences file.

[2016-05-05 16:16] nalipaz commented on #55
Well, I would rather not mix things from stable and testing. Mainly because of the dependencies that would also need to be pulled in from testing, I can't be sure how those might affect other applications in the OS.

I guess for now I will be content with using the terminal to make my ssh tunnel connection and then using foxyproxy to route to it.

I do think that the debian instructions should be

[2016-05-05 21:31] nalipaz commented on #55
By the way, if I used an older release would it work on Jessie?

[2016-05-07 08:00] danfruehauf commented on #55
I agree. I'll work on that as soon as I have a decent internet connection.

Not sure, I'm very unfamiliar with Debian...

[2016-05-11 14:12] eugenesan commented on #54
@danfruehauf Running the service with --debug doesn't help, NM spawns it's own copy of the service and ignores the one invoked manually.

This is what is shown in syslog:
[code]

[2016-07-03 09:39] alxchk opened #57 "Timed out waiting for the service"
I'm trying to use nm-ssh with nm from git on gentoo.
Builld was successful. Also I edited dbus config. In log I have just this:
[code]
Then I kill running nm-ssh-service and start one manually with  --debug key
[code]

There is no messages. So looks like some problem with communication (dbus?)
What you can suggest to check?

[2016-07-03 12:01] danfruehauf commented on #57
G'day. Lets start from the beginning. What version of NetworkManager you're running? What branch did you build from?

Second, after starting `nm-ssh-service --debug`, did you start your VPN? (e.g. `nmcli ...`)

Looking around dbus is probably the right thing, it might stem from wrong permissions for the NetworkManager-ssh plugin, but you said you've edited the config. Did you also restart the serv

[2016-07-03 12:08] alxchk commented on #57
1. Master: 5b4581b361af47b5d8da7c47cd21265894ad62b2
2. Yes
3. I didn't, but I have this in logs:
[code]

[2016-07-23 00:33] danfruehauf commented on #57
@alxchk Any output from nmcli? Because if the service is up, and you initiate a connection, it must spew some log out. Or else nmcli might complain that it cannot connect to the service (and the service is started).

Either way, if you're using gentoo, you might have the new nm version, which I think I'm aware of it doesn't work with the current version of nm-ssh. I should be looking into that in

[2016-07-23 01:30] danfruehauf commented on #57
@alxchk I manage to reproduce it on Fedora 24. I'm working on it. There's also an open bug for that on Fedora 24.

[2016-07-23 02:12] danfruehauf commented on #57
@lkundrak Your help will be appreciated here. As said, I managed to reproduce it on Fedora 24 (like in https://bugzilla.redhat.com/show_bug.cgi?id=1350244).

[2016-07-25 16:38] lkundrak commented on #57
Uh, the service is not getting a bus name as it's not getting initialized. I omitted this when doing the libnm port; sorry for that. Opened the pull request #58 with a fix.

[2016-09-01 01:40] #57 closed

[2016-09-05 20:42] randomstuff opened #59 "Cannot connect with ssh agent"
I'm trying to connect with my SSH agent and I get the following error in the syslog:

<pre>
NetworkManager[1700]: <info>  [1473107735.4072] vpn-connection[0xfb83f0,65c3312c-19f6-4eb3-814d-ced8b08fdb7d,"SSH Tunnel",0]: Saw the service appear; activating connection
NetworkManager[1700]: <error> [1473107735.5571] vpn-connection[0xfb83f0,65c3312c-19f6-4eb3-814d-ced8b08fdb7d,"SSH Tunnel",0]: final secr

[2016-09-21 14:30] xinu commented on #59
i have same problem on fedora 24 NetworkManager-ssh version 1.2.1-0.fc24

[2016-09-26 01:13] danfruehauf commented on #59
Gonna look into that. Thanks for opening that issue.

@randomstuff What distro are you on?

[2016-09-27 07:35] randomstuff commented on #59
I'm using the version shipped in Debian testing. I tried the debugging instructions but did not find anything helpful.

[2016-09-29 13:23] bonanza123 commented on #59
@danfruehauf  I have the same issue on ArchLinux

[2016-09-30 08:17] danfruehauf commented on #59
Just to verify, all of you guys are having the issue just when using ssh-agent based authentication?

Then another question/request - can anyone please post a debug log? The README has simple instructions on how to do that. Thanks!

[2016-09-30 08:29] randomstuff commented on #59
``--debug` output:

<pre>

** Message: nm-ssh-service (version 1.2.0) starting...
** Message: real_need_secrets: connection -------------------------------------
connection
        id : "SSH tunnel" (s)
        uuid : "88c65655-c085-4438-b0fc-3d97fe8bd193" (s)
        interface-name : NULL (sd)
        type : "vpn" (s)
        permissions : ["user:gcorona:"] (s)
        autoconnect : FALSE (s)

[2016-09-30 09:26] bonanza123 commented on #59
Not sure if still needed but here is mine: https://gist.github.com/bonanza123/04900906bdef0e7f1bef2fa372bb7bc0

Yes, my config says "SSH Agent" as auth. type

[2016-09-30 09:37] bonanza123 commented on #37
Just for the record (I know this issue is very old), but KDE on ArchLinux offers a corresponding integration, while opensuse tumbleweed/factory does not (by default?). I guess when someone wants to have it in their distro, its worth having a look a the ArchLinux part.

[2016-10-04 07:11] danfruehauf commented on #59
Promise to have a look at this soon. I'm kind of on the move at the moment and have variable Internet access. It's on top of my TODO list, I promise you all.

[2016-10-04 07:12] randomstuff commented on #59
@danfruehauf, No problem. In fact, I intended to have a (closer) look myself but didn't find time to investigate it yet.

[2016-10-04 07:14] danfruehauf commented on #59
@randomstuff Give it a shot. I suspect it is incompatibility with (perhaps) a NM passing secrets. A good start would be to look at nm-openvpn - at the last commits. To see if there was a change to the way secrets are being passed.

[2016-10-04 23:49] randomstuff commented on #59
Looks like an IPv6 problem. When running from an IPv4 only network, I does not seem to work.

From another computer in a IPv4+IPv6 network it does work. On this computer, switching tp IPv6=4 only prevent the VPN to bring itself up. Adding `AddressFamily inet` for the host fixes the issue. However, `ssh`-ing the server  directly without `AddressFamily inet` does work.

[2016-11-07 01:02] paulswanson opened #61 "Gnome window not scaling correctly on high DPI displays"
Hi,

I'm using this under UbuntuGNOME 16.10 (had the same problem on 16.04), package is network-manager-ssh-gnome, on a recent Macbook Pro 13 with Retina display.

The problem is the configuration window exceeds the available height on screen.

![network-manager-ssh-gnome](https://cloud.githubusercontent.com/assets/2289376/20043416/e94e92f4-a4c7-11e6-8a03-06215bb484c1.png)

As such, the Apply / Ca

[2016-11-07 01:20] paulswanson opened #62 "DNS leakage for default route VPNs"
I'm using NetworkManager-ssh to manage a VPN connection as the default route, i.e. Internet access, with specific and trusted DNS servers for all name resolution when the VPN is connected.

What I'm noticing is that when the SSH VPN is brought up the DNS server entries are merely **appended** to the list of available DNS resolvers (and configured for name resolution on the VPN subnet).

The proble

[2016-11-11 07:54] Fasle opened #63 "Any plans to support obfs-proxy?"
Thanks for this very useful plugin!

I would be grateful if you could consider adding obfs support, or other pluggable transport [solutions](https://www.torproject.org/docs/pluggable-transports).

Any thoughts on this? Can I somehow use your version with obfs-proxy already?

[2016-11-13 10:23] danfruehauf commented on #62
@paulswanson G'day!

So I think this is more related to the way that NetworkManager is handling things. nm-ssh is not responsible to do those things. I'd advise to potentially open that bug upstream with NetworkManager. Please verify this behaviour also happens with other types of VPN. If it does - I will stand corrected.

[2016-11-13 10:24] danfruehauf commented on #61
Oh, that looks pretty painful. I'll have too look into that, but that's a pretty nasty corner case. I hope I will be able to reproduce it.

[2016-11-13 10:30] danfruehauf commented on #63
You welcome, my pleasure.

First time I hear about obfs. Why do you think we should support it under this module? From what I see it is not related to OpenSSH, but please enlighten me if I'm missing something.

[2016-11-13 10:59] danfruehauf commented on #59
@randomstuff Finally got to it. Works for me both with or without IPv6.

I'll have to close it, but feel free to reopen it if you can shed more information. But I'll need more information, such as your SSH server address etc.

In addition, I'm planning to have a vagrant machine for testing in this repository, hopefully we can nail down your problem, but as for now I cannot consider it as a bug unl

[2016-12-07 15:48] cibban opened #64 "How to setup on Kubuntu?"
I have the network-manager-ssh installed and can setup SHH VPN in the NetworkManager. I'm just confused as to what address to put where, what netmask to use etc, and Google has failed me.

My LAN is on 192.168.1.* with 192.168.1.1 as gateway.
My SSH server is an AWS ec2 instance with external IP 52.18.141.x.
My SSH server thinks it's on 172.31.24.x (this is what ifconfig shows) with netmask 255.25

[2016-12-08 07:25] danfruehauf commented on #64
So hope this helps, you probably want the following:
 * Gateway: 52.18.141.x.
 * Remote IP: 172.31.24.1 (or use the default)
 * Local IP: 172.31.24.2 (or use the default)
 * Netmask: 255.255.255.252 (default), must make sure that with this netmask both remote IP and local IP can communicate with each other.

This will connect to your EC2 instance on 52.18.141.x. Then create a tun0 interface on the

[2016-12-08 10:34] cibban commented on #64
That didn't work, but it timed out instead of failing directly. Improvement, I guess. :)

What would be the default values for remote and local IP? I tried the ones you wrote and also 10.0.0.1 and 10.0.0.2, in case the 172.31... ones were used on the remote network already.

[2016-12-10 10:21] danfruehauf commented on #64
You can easily find out if they are used (just `ifconfig`). The idea for remote IP and local IP is to just use something that's not already in use on either end. Then set a netmask that allow remote IP and local IP to be on the same network. Good luck and let me know how it went :)

[2017-02-13 10:35] skerit opened #65 "unknown SSH file extension, should be .sh"
I'm getting this error when trying to import .ovpn files. Networkmanager-ssh is interfering, somehow.

[2017-02-20 07:22] danfruehauf commented on #65
Mmmm... I'll look in to that. That looks weird.

[2017-04-08 07:45] danfruehauf commented on #65
@skerit I tried to export/import an openvpn file, please try with a `.conf` suffix. Looks like it worked for me.

[2017-04-08 07:50] danfruehauf commented on #65
Also works with `.ovpn` suffix.

[2017-04-08 07:55] danfruehauf commented on #51
There are Ubuntu/Debian packages to the best of my knowledge, so I'm closing this one.

[2017-04-08 07:55] #51 closed

[2017-04-08 07:56] danfruehauf commented on #49
Documentation has libmna-dev, so this is alright.

[2017-04-08 07:56] #49 closed

[2017-04-08 07:58] danfruehauf commented on #6
Since there are also packages for Fedora and Debian, I'll say that this is out of scope for this project. If someone wants to pick up the OpenSUSE build, they are more than welcome to do that in collaboration with the distro.

[2017-04-08 07:58] #6 closed

[2017-04-15 21:53] nekohayo opened #66 "Usability - why does it ask me to enter remote and local IP addresses, and the netmask?"
Hi! Really cool initiative here. I'm looking forward to using it in a transparent way, instead of me needing to open up a SSH tunnel as a SOCKS proxy in a terminal and then telling networkmanager to use it as a proxy, which is painful because it's a heavily involved, non-automated process.

I tried testing your app but got blocked with this confusing part (just like the screenshot in your README):

[2017-04-17 16:32] jbicha commented on #54
@lhw I see that Ubuntu 16.04 LTS now has [network-manager-ssh](https://launchpad.net/ubuntu/+source/network-manager-ssh) 1.2.0. Does that fix this issue and the [Ubuntu bug](https://bugs.launchpad.net/ubuntu/+source/network-manager-ssh/+bug/1569116)?

[2017-04-25 11:59] lhw commented on #54
It's been so long since i worked on this, can't even remember the reason for the bugs. I will have to check later. If it does work I will close the bug reports later. If not I'll look into fixing this again.

[2017-04-26 14:27] danfruehauf commented on #66
Ouch, that's not good. The defaults should be filled in automatically when you create a new connection. By default it goes with:
Remove IP Address - 172.16.40.1
Local IP Address - 172.16.40.2
Netmask - 255.255.255.252

I'll look into that, but it should have some default values.

[2017-04-26 17:44] nekohayo commented on #66
I think I saw those defaults, but since I am not a networking geek I thought "What are those IPs? They have nothing to do with my IP. And why would I want IPs statically set into the settings? This must be a mistake, I just want to connect to my target server…"

[2017-04-30 08:09] danfruehauf commented on #66
Understood, yet this utility allows you to define what IPs you and your servers are going to have. You should change them only if you want to avoid a conflict. The defaults are probably OK for 99.9999% of the people :)

In that case, that should solve your problem, wouldn't it?

[2017-05-03 13:14] lhw commented on #54
1.2.0 should work with 16.04 as I fixed most of the bugs before I imported 1.2.1 which had them built-in. I might spin up a VM in the near future and test. But Ubuntu wasn't really a priority for me.

[2017-05-03 13:21] danfruehauf commented on #54
What version of nm is shipped with Ubuntu 16.04?

I reckon the new 1.2.6 version should work with any newer version of nm. Speaking of which, upstream maintainers were actually quite upset they have broke compatibility with this plugin. However, I got to fix it as soon as I could.

In general, it'll be much easier for me to test this plugin now as I have a dedicated AWS VM just for that.

[2017-05-03 13:27] jbicha commented on #54
[1.2.6](https://launchpad.net/ubuntu/+source/network-manager)

[2017-05-03 13:38] danfruehauf commented on #54
Then the nm-ssh 1.2.6 version should be packaged with it - at least.

[2017-06-02 16:25] xavier83 opened #68 "Connection Failure on Arch"
I got the following journal log when trying to connect using NetworkManager-ssh.
I am using kde-plasma on archlinux with [NetworkManager-ssh](https://aur.archlinux.org/packages/networkmanager-ssh-git) install
[code]

[2017-06-03 09:00] danfruehauf commented on #68
I never tested it on archlinux. In fact I'm very unfamiliar with archlinux.

I'll have to look at the code to understand that this *might* actually mean. I'll report my findings here shortly, and hopefully try and go for a fix.

[2017-06-11 10:42] danfruehauf commented on #68
@xavier83 It'll be not very easy to debug it, but we should definitely give it a go.

I'll explain first what happens:
 * SSH agent socket (authentication socket) is passed to the nm-ssh-service when you initiate a connection (with your non-privileged user)
 * nm-ssh-service is run with root credentials. It tries to find what is the original user name you initiated the connection with
 * That is t

[2017-07-07 08:54] arshesney commented on #68
I encountered the same error, if you never connected to the host as root, the service gets stuck at the accept key prompt which appears (only?) when you are running it in debug mode.
After accepting the key the firts time the vpn works.

[2017-07-07 09:50] danfruehauf commented on #68
I should probably document that you need to accept the host key before the VPN can actually succeed. It can be overwritten by specifying in the options. So running:
[code]

This is probably required. I'll amend the README shortly.

[2017-07-08 00:24] danfruehauf commented on #68
Hopefully f80495e makes things a bit clearer. @arshesney @xavier83 ?

[2017-07-08 00:28] arshesney commented on #68
Oh ya, that definitely makes it clear.

[2017-07-08 02:03] danfruehauf commented on #68
To be honest, I kind of assumed that you would try to `ssh root@TARGET_HOST`, even to just configure things. Or at least `ssh someuser@TARGET_HOST` to configure it. But it's better to be explicit and say what's required. So thanks for the feedback!

[2017-07-08 10:05] xavier83 commented on #68
Ok, seem like the issue is not on NetworkManager-ssh but wrong configuration. apparently if you use someuser@TARGET_HOST , the host is probably rejecting the tun request as it requires root(equivalent?) permission to create tun device.

[2017-07-08 10:05] #68 closed

[2017-07-08 11:35] danfruehauf commented on #68
Unfortunately yes. I think it's possible without using root, but kind of tricky. I was looking into openssh at the time - thinking it can be done easily, but generally to open new devices (tun/tap) you'll need 0 uid privileges, so I just let it go at the time.

[2017-07-10 19:39] xenithorb commented on #59
Same thing happens to me on Fedora 25 with `NetworkManager-ssh` and `plasma-nm-ssh`

Running
[code]
... And then activating the VPN from NM plasmoid doesn't seem to do anything to get any additional information.

Each time it presents a window titled "VPN secrets (ssh) - KDE Daemon" with a blank input box

[2017-07-10 19:41] xenithorb commented on #66
[code]
On Fedora 25 does not have default IPs set, so it's still very confusing.

![image](https://user-images.githubusercontent.com/10273878/28036452-4bdc24ac-6586-11e7-8405-fe1f2ca2ab81.png)

[2017-07-11 08:22] danfruehauf commented on #66
Ouch, I can see that. So that's the KDE/plasma interface. I'm not sure how the GTK interface is being transated to it. I'll have to have a look. I'm running f24 and this problem does not show up from the traditional nm-applet. I'm likely to update soon and see what happens.

This is relevant also to #59 - as the dialog you've shown there is also a KDE/plasma one.

[2017-08-23 11:26] Zrubi commented on #66
Hi,
I think @nekohayo would like to see a more general SSH VPN plugin, where the user can decide if he want to use local port forwarding (-L), remote port forwarding (-R ), SOX proxy (-D), instead of the currently implemented VPN tunnel method. And those methods do not require the mentioned fields. They are only needed for tunneling.

And I would love to see that as well, so +1 for this feature re

[2017-08-23 11:35] Zrubi commented on #62
I can confirm it is a general NetworkManager issue.

[2017-08-23 11:40] Zrubi commented on #41
Seems related to #66

And also got the answer why can't you make it that simple.

[2017-09-12 15:32] ehmar opened #69 "The 'ssh' plugin only supports a single active connection?"
Have been trying to figure out multiple active SSH connections (connecting to 2 different networks using ssh). Most issues I can find say multiple connections are available in NM 1.2, but I don't know if that's for ssh, or other plugins (openvpn, pptp, etc.).

I'm using NM 1.6.2 w/ NM-ssh 1.2.1 on Debian Stretch. I can get both ssh vpns to connect individually, but never at the same time.

NM logs

[2017-09-12 16:08] denisbutov commented on #69
Same problem in Fedora 26.

[2017-10-01 16:13] lyp256 opened #70 "Cannot connect with ssh agent"
## debug output
 ** Message: nm-ssh-service (version 1.2.0) starting...
** Message: real_need_secrets: connection -------------------------------------
connection
	id : "VPN 1" (s)
	uuid : "2db9fb18-c4e5-4938-9c09-802fa88ebe1b" (s)
	interface-name : NULL (sd)
	type : "vpn" (s)
	permissions : ["user:lyp:"] (s)
	autoconnect : FALSE (s)
	autoconnect-priority : 0 (sd)
	timestamp : 0 (sd)
	read-only :

[2017-10-01 16:15] lyp256 commented on #70
I'm not good at speaking English.

[2017-10-01 16:22] lyp256 commented on #70
Because I'm not good at English, I can't give too much detail

[2017-10-01 22:44] danfruehauf commented on #69
Thanks for that. I have it on my TODO list. I actually already started development for it already. There shouldn't be a problem to support multiple connections with the plugin - it's a matter of getting the registration of the plugin right with NM (since multiple VPN connections is a new-ish feature of NM).

[2017-10-01 22:46] danfruehauf commented on #70
So, looks like authentication succeeded, but not with ssh-agent:
[code]

However, looks like you need to enable tunneling on the server side:
[code]

So what exactly is the problem?

[2017-10-01 22:56] danfruehauf commented on #66
That's a really good feature request. I'll have to find time to work on it as it'll require quite a bit of UI changes. But I like it - can't deny.

[2017-10-01 22:57] danfruehauf commented on #62
@Zrubi I'll take your word for it.

[2017-10-01 22:57] #62 closed

[2017-10-02 00:02] ehmar commented on #69
Thanks for the update. I've been getting by with one NM/VPN and the other(s) over SSH/PPP http://www.faqs.org/docs/Linux-mini/ppp-ssh.html

[2017-10-02 12:12] lyp256 commented on #70
@danfruehauf
Thank you, according to your prompt, I modified the server configuration, has been able to connect successfully, thank you very much

[2017-10-07 10:06] danfruehauf commented on #70
I assume we can close this?

[2017-10-07 10:06] #70 closed

[2017-10-25 09:48] Mannshoch commented on #66
As an Idea how I would imaging a GUI
![grafik](https://user-images.githubusercontent.com/7795891/31992282-22af7c94-b97a-11e7-861c-f3bb279ccdac.png)

1. Allow to link to ~/.ssh/config entry.
1. Add some helping Text for not network specialists (like me)
1. Maybe you could add some other system settings to.
1. Maybe you could add a link to a page with examples.

My Idea is not a definitive GUI only

[2017-11-13 17:42] baimafeima commented on #63
@danfruehauf Integrating obfs4 would be a great idea. In China even SSH tunneling is problematic and you constantly need to find new solutions to obfuscate traffic.

[2017-11-13 17:43] baimafeima opened #71 "Add changelog to tagged releases"
Could you make the changelog directly visible in your GitHub releases? This would increase transparency for potential users and distribution maintainers. Something like https://skywinder.github.io/github-changelog-generator/ could be used to generate the changelog based on merged PRs and closed issues since the last release tag.

[2017-11-13 17:47] baimafeima opened #72 "Project differentiators: NetworkManager-ssh vs PuTTY?"
I'm curious how your project is different from [PuTTY](http://www.putty.org/). Are there different use cases or functions that are complementary? Many thanks for the clarifications. My specific use case is that I want to set up an Algo server and I am currently looking into the best available options to do that. I am also trying to find a way to obfuscate traffic to prevent DPI inspection from ISP

[2017-11-14 10:23] danfruehauf commented on #72
Although I've used putty in the past, I think both projects are very different. You may want to compare putty to OpenSSH, if at all. Putty is a SSH suite for windows - simply put, there might be more to it.

This project uses OpenSSH and provides a simple interface to use the much unused feature of SSH that is full SSH VPN. Comparing it to Putty will probably not do much justice to putty.

If you'

[2017-11-14 10:25] danfruehauf commented on #71
There are tags in this project. Have you seen them?

I'm also the package maintainer for Fedora for this project, and I'm using the tags I create.

[2017-11-18 23:26] baimafeima commented on #71
@danfruehauf oops, I meant the changelogs only. I can see the tags, yes!

[2017-11-19 12:13] danfruehauf commented on #71
So you're asking for something along the lines of `git log > CHANGELOG`? I'm a bit puzzled about your request, yet I'd like to help.

[2017-11-24 18:44] #21 closed

[2017-12-07 03:06] danfruehauf commented on #21
Just updated the link to the pidgin-gnome-keyring project.

[2017-12-07 03:08] danfruehauf commented on #64
I'll close this one as I haven't heard anything from the OP for roughly a year.

[2017-12-07 03:08] #64 closed

[2017-12-07 03:09] danfruehauf commented on #52
I think I've been better with versioning and tags, so I'll close this one. @lhw please reopen if you believe something it still missing in the process.

[2017-12-07 03:09] #52 closed

[2017-12-07 03:10] danfruehauf commented on #50
Been a while on this one. I'll close it too.

[2017-12-07 03:10] #50 closed

[2017-12-07 05:03] danfruehauf commented on #65
No activity on this one and I couldn't reproduce it. If you can provide more information, please reopen!

[2017-12-07 11:15] danfruehauf commented on #69
Closed by #73.

@lhw Probably worth releasing this one. I tagged it as 1.2.7.

[2017-12-07 11:15] #69 closed

[2017-12-08 00:54] danfruehauf commented on #41
My idea is to bind a local device - which is mandatory, but not bind a remote device. That way one can:
 * Connect with a non-root user
 * Bind a single port for use

My idea is to allow either "full SSH" or "port binding only" - in the main screen.

[2017-12-29 18:27] lhw opened #74 "Some depcreation issues with 1.2.7 and libnm 1.10.2"
Was packaging the new version for debian just now.
And I am running into a deprecation error as unstable only has libnm 1.10.2 available for building.
It boils down to these three:
[code]
[code]
[code]
Versions used to build:
libnm 1.10.2
libnma 1.8.10

Full build log on the debian reproducible build setup (for 1.2.6):
https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/network-mana

[2018-01-10 23:43] danfruehauf commented on #74
I'll look into that shortly. Thanks!

[2018-01-11 00:02] danfruehauf commented on #74
@lhw Are you maintaining any other Network Manager VPN plugins for debian? What's the status with openvpn for instance? Because I see it uses the same file that is problematic (NetworkManager.h).

For the time being, I'd suggest adding:
[code]

Just to avoid inconveniences until I get to properly fix it.

Currently I'm on Fedora 26 and it has NetworkManager 1.8.2 and libnma 1.8.2, so it's difficul

[2018-02-19 08:36] zimmnik opened #75 "Output via debug mode is empty"
Hi!
I use Fedora 27. I set up my vpn connection and it works fine.  But I want to understand in detail what going on when I start connection.

I read README.md and launched nm-ssh-service in a debug mode

_[root@ideapad ~]# /usr/libexec/nm-ssh-service --debug
** Message: nm-ssh-service (version 1.2.7-1.fc27) starting..._

Further I started vpn-ssh connection, but debug output still empty.
What I d

[2018-03-14 22:04] danfruehauf commented on #75
Not a problem. So if you export your SSH VPN connection, it'll create a bash script. This script, once executed, will do exactly the same as what the plugin does.

But to answer your question, it does the following:
 * As root, starts a ssh connection to the target computer with `-o TunnelDevice=1:100` - that asks SSH to open a tunnel device (tun or tap) numbered 1 on the local side and 100 on the

[2018-03-14 22:15] danfruehauf commented on #75
Oh, but as to your question. I think what might have happened is that you already had a `nm-ssh-service` up and running. So your new one that you spawned was not used. Verify it by running:
[code]

If there are any up, kill them, then start yours and try to start a connection.

[2018-04-10 07:07] Red-M opened #77 "Can't open tun devices"
Maybe I am doing this wrong but I can't seem to get any tun devices opened at all even if I am in the correct groups that should be able to open a tun interface.

This could be a distro issue as I did have this working without root on both sides before, however I have had to rebuild a few machines lately due to other issues.

[2018-04-15 12:26] danfruehauf commented on #77
If you got it to work without root, let me know what you did. But generally you need root to open new tun devices...

[2018-04-15 13:17] Red-M commented on #77
I was in the `netdev` group on both machines however it seems an update may have reverted this.

Can I ask that some extra options to allow for sudo/su on the requesting/client machine be added so that I may supply a password to allow the tun on my machine to be opened?

[2018-04-18 22:25] cboling2 commented on #65
FWIW I duplicated this behavior by attempting to import an OpenVPN config w/ a v2.4+ feature ("tls-crypt") when I'm running OpenVPN 2.3.  I changed the "tls-crypt" tag to "tls-auth" and the file imported happily.

[2018-04-30 10:02] rubenvereecken commented on #75
I had the same issue and found killing the existing service so I could spin up my own with debug enabld had no effect; as soon as I attempted a VPN connection it would spin up a new `nm-ssh-service`. Actually, originally I had quite a few running all from failed attempts.

[2018-05-14 09:41] danfruehauf commented on #75
I'm afraid you are correct. NM has changed quite a bit since I wrote the README. I'll fix it shortly.

[2018-05-14 09:41] danfruehauf commented on #65
@cboling2 I'll retry again to reproduce it.

[2018-05-14 09:42] danfruehauf commented on #77
Yes, it is a very fair ask. I've been wondering for a while what's the best way to go about that - so there is flexibility with the remote command that is going to be executed. I'm open to ideas that can make it easy for more people.

[2018-05-15 10:05] lhw commented on #74
I went ahead and updated most of my outdated debian packages today. Including this one.
For now I just applied the no deprecation line.
When you get around to it I can update the package to new versions of libnm/libnma.  There is not even a freeze deadline yet for the next debian release.

I also noticed that AppStream information was apparently moved according to the standard. From $(data)/appstr

[2018-05-18 10:37] danfruehauf commented on #74
Will do. I'll leave it open as a reminder for myself. Thanks for the update!

[2018-07-10 22:50] whitequark commented on #37
See https://phabricator.kde.org/D14035.

[2018-07-10 22:51] whitequark commented on #54
See https://phabricator.kde.org/D14035. Note that OpenSSH 7.7 packaged in Debian testing currently has broken tun/tap support due to https://bugzilla.mindrot.org/show_bug.cgi?id=2855.

[2018-07-27 12:39] danfruehauf commented on #37
@whitequark Please let me know what I can do (if at all) to help fix that issue.

As a sidenote - I'm intrigued to find out how the kde/plasma UI is generated. Seems like all GTK plugins of NM eventually get also a KDE one...

[2018-07-31 15:29] whitequark commented on #37
Nothing, I think. It's all on the KDE folks.

It isn't generated, people manually rewrite plugins against the interface exported by NM for GTK.

[2018-09-17 15:07] bserem opened #78 "Client tries to load SSH key from root instead of current account"
I am logged in my debian system as my personal user, configured a VPN on network manager over the gui and tried to connect.

I can see in the log that it tries to load a keyfile from root and not from my user:

[code]

Shouldn't it be loading my users keys?

[2018-09-20 03:45] danfruehauf commented on #78
Hi @bserem, thanks for the inquiry.

So it is doing what is expected. NM and the lot runs with a root context, so it is a bit difficult to find out which user is actually triggering the connection. You can specify a full path to a SSH key, but then you can't have a pass phrase on it as it will not prompt you for it.

In case you choose ssh-agent auth, then what happens is that the authentication d

[2018-10-06 22:56] kurtabersold commented on #78
Adding `-o UserKnownHostsFile /home/user/.ssh/known_hosts` under SSH Advanced Options seems to help.

[2018-10-06 23:05] kurtabersold commented on #78
It would be nice if adding `-o UserKnownHostsFile /home/user/.ssh/known_hosts` to SSH Advanced Options. It does seem to work when not using key-based authentication.

[code]

[2018-10-25 07:14] intika commented on #41
Just a check button that would say "SSH as proxy" would be enough ...
That checkbox would
- Disable IP requirement
- Disable tap/tun

We could also think of an other feature to route all the traffic to that proxy with iptables/redsocks/tcpsocks

Or we could keep the tap/tun thing for a full redirection with ssh server that are not setup to use tap/tun and use https://code.google.com/archive/p/badv

[2018-10-25 07:19] intika commented on #66
Duplicate of https://github.com/danfruehauf/NetworkManager-ssh/issues/41

[2018-10-25 11:38] danfruehauf commented on #41
I haven't put that much thought into that. But specifically the SOCKS option is definitely a go. I've implemented the backend, but didn't quite get to the UI. I'm very open to new ideas and more contributions.

[2018-10-25 11:41] intika commented on #41
Cool thanks for the answer i ll see if i can help ;)

[2018-11-20 12:17] lhw commented on #74
Version 1.2.8 is now coming up in unstable. Without the deprecation warning.

[2018-11-20 12:17] #74 closed

[2018-12-11 11:39] w0k3 opened #85 "Bridge (ethernet) mode with TAP device"
Hi,

currently it looks like we are forced to enter both local and remote tunnel IP address to save and use the VPN connection.

Using a TAP device it should be possible to bridge directly to a local network and obtain TAP IP address using DHCP. Would it be feasible to add support for such configuration?

[2019-01-06 21:40] danfruehauf commented on #85
Should be. I tagged it as a bug. I'll have to get to it. Unfortunately I didn't get to develop many of the things I promised myself I'll do this year :/

[2019-01-31 14:33] Vascom opened #86 "Failed build with GCC 9"
Last release failed to buuld with gcc 9.0.1.
Build log:
https://paste.fedoraproject.org/paste/2R-gEbgLBcWC87VJci4-6Q

Please correct it.

[2019-02-03 17:44] klmitch opened #87 "Fedora 29: fails to connect"
I'm running an SSH server on a non-standard port and trying to get NetworkManager-ssh to connect to the machine, but I'm not even seeing a connection come in on the server.  I tried running ``nm-ssh-service --debug`` as root in a terminal and triggering the VPN, but I see no messages.  The only possible hint I can see in /var/log/messages is an AVC denial, but I get that even if I configure to use

[2019-02-15 03:05] danfruehauf commented on #87
Was about to open a bug about that in the Fedora bugzilla. If you really want it to work, you could temporarily disable selinux and connect, then re-enable it again. I haven't got to the bottom of things, but it will be solved soon, I hope.

[2019-02-15 03:42] danfruehauf commented on #87
Attaching the Fedora bugzilla bug: https://bugzilla.redhat.com/show_bug.cgi?id=1677484

[2019-02-15 13:36] klmitch commented on #87
Yeah, after I logged this bug, I spent a lot of time fiddling with selinux settings.  In the end, I _think_ I cleared all the selinux problems, but still couldn't get the SSH VPN to work for some reason.  Afraid it's been too long since I worked on that to include useful details for the selinux side either here or on the Fedora bug, but there were a _lot_ of policy bits involved :/  If I get any t

[2019-02-20 01:34] danfruehauf commented on #87
I always do that too. And also against my test server, should work absolutely fine.

For that, I'll let the selinux experts of Fedora fix it. I'm very far from being even a selinux beginner. The trouble is it used to work in F27, so some introduced policy broke it. Hence, it should be fixed by the policy maintainer.

As for debugging, looking at `/var/log/messages` should give you more information

[2019-02-20 01:49] klmitch commented on #87
Well, I already have the remote hosts I tried in .ssh/known_hosts and watched /var/log/messages; some of the selinux problems seemed to be related to the ssh-agent, but I believe I cleared those, and I still wasn't making any additional headway…

[2019-02-20 02:30] danfruehauf commented on #87
And with `setenforce 0`, can you connect?

[2019-03-17 12:13] AdrianVollmer opened #88 "CPU usage 100%"
I'm using 1.2.8.-1 on Debian unstable (installed via apt) and the `nm-ssh-service` is at 100% CPU usage:

[code]

Any idea why this could be?

[2019-03-17 12:46] AdrianVollmer opened #89 "Allow usage of forced commands"
I understand that you need root permissions on the remote server. However, for security purposes, I'd like to create a new SSH key for nm-ssh and force the command `ifconfig` via the `authorized_keys` file for this key. To allow arbitrary parameters, I need to use the `$SSH_ORIGINAL_COMMAND` variable. But then you need to omit the `/sbin/ifconfig` in the ssh command.

It would be nice to have a fe

[2019-03-20 13:38] danfruehauf commented on #88
Can you please reproduce it and tell me what it is doing? (Using strace?)

[2019-03-20 14:02] AdrianVollmer commented on #88
Looks like it's polling a whole lot. The only line I see in strace over and over again is this:

[code]

[2019-03-20 14:12] AdrianVollmer commented on #89
Actually, I just checked again and this seems to work already as it is... not sure why, but I guess it can be closed. Thanks anyway!

[2019-03-20 14:12] #89 closed

[2019-03-20 14:14] AdrianVollmer commented on #89
For the record, the line in my `authorized_keys` looks like this:
[code]

[2019-03-20 14:32] danfruehauf commented on #89
Cheers! And thanks for the feedback. I've been really slow at getting to things - flat out with work. But hopefully a few things will be fixed soon enough, when I get 5-10 hours straight to work on them.

[2019-03-22 23:59] danfruehauf opened #90 "Extra SSH options parser too simplistic (Cannot parse spaces successfully)"
Description of problem:
Adding complex extra arguments (advanced --> extra SSH options), with spaces, results in error.

Version-Release number of selected component (if applicable):
NetworkManager-ssh-1.2.7-5.fc29.x86_64

How reproducible:
Always

Steps to Reproduce:
1. Configure, with NM, a VPN using SSH
2. Go to "advanced --> extra SSH options" and add something like "ProxyCommand=arg1 arg2 arg

[2019-03-23 19:24] AdrianVollmer commented on #89
Sorry, I need to correct myself again. It only appeared to work, i.e. NM showed a successful connection. But the interface on the remote server was down because the ifconfig command failed. This makes sense.

But I can wrap in a script:

[code]
Then in the `authorized_keys`:

[code]

So it's up to you if you want to introduce the feature, or at least fix the connection status if the remote command

[2019-03-31 09:21] AdrianVollmer commented on #88
Is there anything I can do to help? I'd be happy to try to isolate the issue, but I'm not sure where to start.

[2019-03-31 23:31] danfruehauf commented on #88
I think generating a log would be a good start. Otherwise probably attach a debugger to it while it is running, stop it midway (as it is chewing CPU), then see where it is stuck. Are you keen to try to do it?

[2019-04-01 08:04] AdrianVollmer commented on #88
I attached `gdb` and got this:

[code]

So to me it looks like the main loop isn't doing anything (except for running the default context). [Here](https://mail.gnome.org/archives/gtk-list/2007-November/msg00081.html) someone seems to have the same problem, but my understanding is also that the default context shouldn't use 100% cpu unless something is wrong -- which would explain why only I have t

[2019-04-01 10:59] danfruehauf commented on #88
I think compile it with `-g -O0`, it'll give us a much better understanding of what's really happening. That stack trace is rather incomplete...

[2019-04-01 13:16] AdrianVollmer commented on #88
Sure. Doesn't seem that much more verbose though:

[code]

[2019-04-01 13:32] AdrianVollmer commented on #88
Judging from the strace output above, it seems that file descriptor 10 is causing this. I checked in `/proc/`, and fd 10 is pointing to a pipe:
[code]
`lsof` shows the two ends of the pipe:
[code]

[2019-04-01 23:21] danfruehauf commented on #88
Looks like something I'll have to look into. Thanks for all the information!

[2019-04-17 07:00] mr-gosh commented on #66
I can confirm the missing default IPs on Kubuntu 18.10

[2019-04-18 11:09] danfruehauf commented on #66
I'm not a Kubuntu user myself, but happy to fix what is required. Do they have an upstream bug tracker?

[2019-04-30 19:52] bliles opened #91 "SSH VPN Like https://github.com/sshuttle/sshuttle?"
Thanks for your work to provide NetworkManager integration for SSH VPN.

Have you considered making the VPN work more like sshuttle [https://github.com/sshuttle/sshuttle] ? Getting sshuttle working seems a bit simpler since you just have to specify a CIDR block to forward over the tunnel and you have options for enabling or disabling DNS.

[2019-05-01 00:52] Xaenalt commented on #59
I'm hitting the exact same initial error `final secrets request failed to provide sufficient secrets` on Fedora 28 as well. It brings up a secrets dialog, but I'm not sure what secret it's asking for

[2019-05-01 02:29] Xaenalt commented on #59
After updating to Fedora 29 and it seems to work, though I hit #87 setenforce 0 does seem to work around it

[2019-05-01 15:55] Xaenalt commented on #88
I'm hitting this as well, any other info I can grab to help diagnose?

[2019-05-02 13:00] mr-gosh commented on #66
perhaps here is the relevant information for submitting bugs and pull requests.

[2019-05-09 03:41] danfruehauf commented on #59
I'm still waiting for the selinux policy maintainers to do something about it. Especially because it's a regression. I'll put some more pressure on them with that.

[2019-05-09 03:47] danfruehauf commented on #88
I can reproduce this. I'll see what needs to be done to fix it.

[2019-05-09 07:32] danfruehauf commented on #88
@lhw I tagged the version that fixes that as 1.2.10. I recommend deploying it as this is a severe bug.

[2019-05-09 07:54] AdrianVollmer commented on #88
Thanks for looking into this. However, I'm afraid I'm still getting 100% cpu usage. Maybe I'm doing something wrong. @Xaenalt  does the commit fix it for you?

[2019-05-09 08:23] lhw commented on #88
I'll look into fixing that. @AdrianVollmer could you open a bug report on debian as well? So I have a solid reason to get it into debian buster as the next stable would also be affected by this.

[2019-05-09 10:23] danfruehauf commented on #88
How did you test it?

[2019-05-09 16:30] AdrianVollmer commented on #88
Basically, `git reset --hard ; git pull ; ./configure ; make ; sudo make install ; sudo service network-manager restart`, then connect

[2019-05-10 00:39] danfruehauf commented on #88
I'll double check it, but I'm pretty sure it fixed the problem for me. Later I'll pull the built packages for fedora and try again. In the mean time I'll reopen that bug, for the sake of completeness.

@lhw If it doesn't work for @AdrianVollmer we can wait with the release, I'll verify it actually fixes the problem before proceeding.

[2019-05-10 05:34] AdrianVollmer commented on #88
I just deleted the git repo, made double sure everything was gone, and started from scratch.. still there :( are you also on Debian buster/sid?

[2019-05-10 05:45] AdrianVollmer commented on #88
Nevermind, I forgot to use `--libdir=/usr/lib`! Default is `/usr/local/lib`. It's fixed! Now I can finally run it permanently :) thanks again!

[2019-05-10 07:55] danfruehauf commented on #88
No no, thank you! Glad we got this one sorted and thanks for your time.

@lhw FYI you can release with 1.2.10, it is indeed fixed.

[2019-05-10 07:55] #88 closed

[2019-05-10 10:39] lhw commented on #88
Updated package is in debian unstable. Now I have to find out how to get it into testing for buster

[2019-05-13 20:43] Xaenalt commented on #88
Can confirm this works in Fedora 29, needed to move /usr/local/{lib, libexec} to /usr/local and everything works perfectly, thanks!

[2019-05-14 04:42] danfruehauf commented on #88
@Xaenalt You welcome. It's already in f28-testing, f29-testing and also in rawhide. You should see it as an update soon. Alternatively you can install it from the testing repository.

[2019-05-19 08:25] danfruehauf commented on #87
Looks like an update was pushed to f29. I'll give it a go soon, and if it works - close this one...

[2019-05-20 01:04] danfruehauf commented on #87
See also:
https://bodhi.fedoraproject.org/updates/FEDORA-2019-38a1de7619

[2019-05-20 01:13] danfruehauf commented on #87
Still doesn't work, the latest update is that I get that:
[code]

[2019-05-22 10:03] ralismark opened #93 "Connection failure on Manjaro"
I am running Manjaro and using the `networkmanager-ssh-git` package from AUR. I have all settings set to the default, except I'm using key authentication. When I try to connect, I get an error:

This is the journalctl log from Networkmanager.

[code]

[2019-06-10 02:17] ralismark commented on #93
Issue was caused by using the dropbear ssh server (instead of OpenSSH sshd). Switching over, then following instructions in README fixed the issue.

[2019-08-29 10:34] alnet82 opened #94 "SSH VPN is missing when building + installing deb packeges"
I compiled and installed network-manager-ssh-gnome.deb and network-manager-ssh.deb, but the SSH doesn't appear in the VPN menu.

When installing the package via aptitude, it works.
Any idea what I'm doing wrong?

[2019-08-29 11:12] #94 closed

[2019-09-02 02:13] #93 closed

[2019-09-18 11:57] lexesv opened #95 "UDP support"
Something like this
http://www.qcnetwork.com/vince/doc/divers/udp_over_ssh_tunnel.html

[2019-10-11 19:24] audetto opened #96 "Fedora 30 cannot connect"
Oct 11 20:23:38 localhost.localdomain NetworkManager[1184]: <info>  [1570821818.8347] audit: op="connection-activate" uuid="7fb70da3-8aab-49fd-8432-f5bebe36459b" name="VPN 1" pid=9846 uid=1000 result="success"
Oct 11 20:23:38 localhost.localdomain NetworkManager[1184]: <info>  [1570821818.8412] vpn-connection[0x5621d4eac4d0,7fb70da3-8aab-49fd-8432-f5bebe36459b,"VPN 1",0]: Started the VPN service,

[2019-10-11 19:26] audetto commented on #96
I can ssh as root into the remote
I am using "Key Authentication".
If I set "SSH Agent" I get a different error:

Oct 11 20:25:20 localhost.localdomain NetworkManager[1184]: <error> [1570821920.6207] vpn-connection[0x5621d4eac2c0,7fb70da3-8aab-49fd-8432-f5bebe36459b,"VPN 1",0]: final secrets request failed to provide sufficient secrets
It seems that I have selinux error around /usr/bin/ssh.

The r

[2019-10-11 19:35] audetto commented on #96
After disabling selinux to permissive (locally), it works.

[2019-10-12 09:40] audetto commented on #96
Here is F30 bugreport

https://bugzilla.redhat.com/show_bug.cgi?id=1761071

As a side question: is it possible to see all the command issued? There is a good example in the homepage, but I don't think it is complete.

[2019-10-17 16:03] nhed opened #97 "Is this able to utilize my ssh config?"
Fedora 30
Trying to utilize a working entry in my ssh config and getting `final secrets request failed to provide sufficient secrets`  I set to use ssh agent but the underlying `ssh` processes is never executed

I was going to debug assuming ssh is launched then fails - but straced from a wrapper to /usr/libexec/nm-ssh-service and the only `exe*` calls were

[code]

if you dont actually execute ss

[2019-10-21 20:25] audetto commented on #75
This is very interesting.
I would like to see the exact script executed: the reason is that I want to add some extra customisation and I would like to start from what nm-ssh does as I would not be able to do any better.

What is the best way to see it?

[2020-02-16 18:09] danfruehauf commented on #97
Interesting that you ask about it now. This behaviour can lead to privilege escalation quite easily. The reason for that is that the plugin runs as root, yet your config can be modified by you and you can specify arbitrary commands to run in it. This is... undesirable. I'm still thinking of a good solution for that, but at the moment, I would recommend to not allow that.

What do you think?

[2020-02-17 02:01] nhed commented on #97
it's been a while since I actually asked, but if your main process runs as root you can run the ssh process itself as the user.  in which case the risk exist only if the user specified that the connection is to be shared with other users (which you should warn them not to do, maybe even prevent if you can...  I'm not that familiar with the innards of network manager, but I an a heavy ssh user and

[2020-02-17 02:04] nhed commented on #97
it's been a while since I actually asked, but if your main process runs as root you can run the ssh process itself as the user.  in which case the risk exist only if the user specified that the connection is to be shared with other users (which you should warn them not to do, maybe even prevent if you can...  I'm not that familiar with the innards of network manager, but I an a heavy ssh user and

[2020-03-02 06:23] danfruehauf commented on #97
That would be quite difficult to do. I don't think nm will really allow me to intervene with things in that level, as a plugin maintainer.

That is a problem, as you need root privleges (or at least CAP_NET_ADMIN) to open new network devices (tun/tap), hence, it needs to run privileged. I tried to play with capabilities and perhaps just leave CAP_NET_ADMIN and run as a regular user (reduce privile

[2020-03-02 07:11] cschech opened #99 "Creates tunnel on remote side (as root), but does not bring interface up or set ip"
Using the Debian package, once the VPN is set up the client side has tun0 configured correctly with the default IP and all the routes are correct but remotely I have to manually run:

ip link set dev tun100 up
ip addr add 172.16.40.1/30 dev tun100

So tun100 is created by NetworkManager-ssh on the remote side but not configured. Unsure why this fails.

I am logging in as root on the remote side so

[2020-04-07 16:38] boris-so commented on #99
Yep, verify you have `ifconfig` util installed on both server and client. I bielive this plugin does not use the modern `ip` tool, but the old one instead.

[2020-04-07 16:42] boris-so commented on #99
Not both but server only.

[2020-07-11 04:27] purpleidea commented on #41
Any chance this is ready since extra options are now gone (regression) so it's not possible atm to use -D

[2020-10-26 06:44] Sol33t303 opened #100 "How would I go about installing this plugin manually?"
I'm running a distro that is neither RedHat based or Debian based, so I can't make a package for it myself according to the instructions, there is also no package available for my distro. So it looks like I will need to install this plugin manually and I can't find any documentation to do that from NetworkManager so I assume it's different on a per plugin basis. So how would I install this plugin

[2020-11-24 14:25] Strykar opened #102 "Add nftables examples"
Would it be possible to add instructions for systems using nftables?

[2021-01-15 16:28] jagiella opened #103 "Permission denied (publickey)."
I am trying to connect to a remote server via a **keyfile with password**. The connection failes with the following log output:

[code]

`LOCAL_HOST`, `REMOTE_HOST`, `REMOTE_IP`, `PORT`, `USERNAME`, `XXXXXXX` and `YYYYYYY` are placeholders for privacy reasons ;)

I also tried ssh-agent, but with similar results.

[2021-02-28 17:47] Thomas-Walker-Lynch opened #104 "Error: Connection activation failed: No valid secrets"
Here  is the client machine which is running Gnome and the Network Manager.

[code]

I edited the client /etc/ssh/ssh_config:
[code]
And edited the server /etc/ssh/sshd_config:
[code]

Showing that SSH to the server works fine. The server is running Debian.

[code]

Bringing up the SSH-agent VPN, and getting the dreaded 'No valid secrets'  error:

[code]

The VPN configuration file.  This is prett

[2021-07-30 02:56] ChristofKaufmann commented on #90
I think this can be closed, since extra ssh options have been removed in #98.

[2021-07-30 03:14] ChristofKaufmann commented on #97
So this is also an issue for me. I try to connect to a remote machine via a jump host, like `my-local-machine` → `jump-host` → `remote`, and cannot see, how I can set it up.

When using `ssh remote-machine` as root user the ssh command reads `/root/.ssh/config`, searches for the Host `remote-machine` and finds the `ProxyJump jump-host` option. However, the NM SSH VPN plugin seems only to look for

[2021-08-25 21:11] klaernie opened #106 "feature request: config option to no configure the interfaces and run DHCP"
When running a tunnel in tap mode it would be useful for me to not require a completely routed VPN, when I could just bridge the remote tap interface into the actual network and obtain an IP via DHCP.

Right now the VPN is very opinionated in that it is presuming that the remote end must be manually set up (which is as easily done with e.g. a systemd-networkd configuration matching all `tun*` or `

[2021-09-06 05:13] #90 closed

[2021-09-06 05:14] danfruehauf commented on #97
I'd classify it as a bug, yes. Unfortunately I've been hammered with life and work recently, and have very little time to get to nm-ssh :cry:

[2021-09-06 05:17] danfruehauf commented on #106
Absolutely valid. When I first wrote nm-ssh, it was meant as a "poor man's VPN", though it looks like it got some traction, and more "comprehensive" features are requested.

But I wonder, if you do have such a setup, wouldn't it be better to use a "proper" VPN instead? Like OpenVPN or similar?

[2021-10-03 20:59] klaernie commented on #106
You are right, a proper VPN is superior if I'd be on the road regularly. But maintaining OpenVPN means also maintaining a bunch of tls keys - which SSH completely forgoes or makes trivial to delegate into hardware crypto like yubikeys.

As soon as I'd require more than one or two machines on the road or would be working exclusively over a VPN for months at a time. But I've maintained an OpenVPN se

[2021-12-26 09:19] bernharl opened #108 "Host key verification failed"
Whenever I try establishing the VPN in my Gnome settings I get an error notification with
"Connection failed
Activation of network connecition failed".

The output of `sudo journalctl -u NetworkManager` shows:
[code]

The lines
[code]
lead me to believe that the program expects me to be able to input the password of my ssh key, but is unable to do so as it is not connected to a terminal. I have tr

[2021-12-26 09:28] bernharl commented on #108
I also confirmed now that it doesn't work under X11 either.

Could this be related to /usr/lib/NetworkManager/nm-ssh-service? Is this what is being used by this program to prompt for the password? If so, perhaps it crashes for some reason. Any way to get logs from it? Running it directly from terminal just yields `Have to supply ID, name and service`

[2022-01-03 17:01] knarrff opened #109 "ProxyCommand support"
In my case, ~/.ssh/config contains, for the host in question a statement about a "ProxyCommand" which is necessary for the connection. In fact, it is even necessary for the DNS lookup of the actual hostname of the final host. This works beautifully for ssh on the command line and looks somewhat like this:

[code]

However, currently, the nm-plugin uses a command line like this:

`/usr/bin/ssh -o N

[2022-08-21 03:01] tumescentrubor opened #112 "A little change to avoid needing root privileges on the ssh server"
Feature Request: to enable the ssh server to run without needing a root login, replace the line "IFCONFIG" on line 1390 of nm-ssh-service.c to the location a user-configurable wrapper script that'll manage permissions to ifconfig on the host end. Like, "sudo /sbin/ifconfig $@" in the wrapper file, and something in the sudoers file to let the user run /sbin/ifconfig as root without a password. I ha

[2022-10-07 14:23] mostafabarmshory commented on #104
I have faced the same issue on OpenSuse. Do you fix this?